body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: darkblue;
}

form {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}